In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Load CSV files into new DataFrame
hc_expend_vs_gdp = "healthcare-expenditure-vs-gdp.csv"
hc_protection_cov = "health-protection-coverage.csv"
life_expect_vs_hc_expend = "life-expectancy-vs-health-expenditure.csv"
total_hc_expend_gdp = "total-healthcare-expenditure-gdp.csv"

# Read CSV file and store in Pandas DataFrame
hc_expend_vs_gdp_df = pd.read_csv(hc_expend_vs_gdp)
hc_protection_cov_df = pd.read_csv(hc_protection_cov)

life_expect_vs_hc_expend_df = pd.read_csv(life_expect_vs_hc_expend)
total_hc_expend_gdp_df = pd.read_csv(total_hc_expend_gdp)

In [29]:
hc_expend_vs_gdp_df2 = hc_expend_vs_gdp_df.drop(columns="Continent")
hc_expend_vs_gdp_df3 = hc_expend_vs_gdp_df2.dropna(how="any")
hc_expend_vs_gdp_df4 = hc_expend_vs_gdp_df3.rename({"Year":"Year_1"}, axis='columns')

#cleaned dataframe
hc_expend_vs_gdp_df4.head()

,Entity,Code,Year_1,"Current health expenditure per capita, PPP (current international $)","GDP per capita, PPP (current international $)",Population (historical estimates)
1,Afghanistan,AFG,2002,81.271034,877.014282,22600774.0
2,Afghanistan,AFG,2003,82.457848,927.857544,23680871.0
3,Afghanistan,AFG,2004,89.470055,925.441406,24726689.0
4,Afghanistan,AFG,2005,100.706985,1023.051758,25654274.0
5,Afghanistan,AFG,2006,113.754105,1077.761597,26433058.0

In [4]:
hc_protection_cov_df.head()

,Entity,Code,Year,Share of population covered by health insurance (ILO (2014))
0,Albania,ALB,2008,23.6
1,Algeria,DZA,2005,85.2
2,American Samoa,ASM,2009,3.0
3,Angola,AGO,2010,0.0
4,Antigua and Barbuda,ATG,2007,51.1

In [30]:
hc_protection_cov_df2 = hc_protection_cov_df.drop(columns="Year")

#cleaned dataframe
hc_protection_cov_df2.columns

Index(['Entity', 'Code',
       'Share of population covered by health insurance (ILO (2014))'],
      dtype='object')

In [13]:
life_expect_vs_hc_expend_df.head()

,Entity,Code,Year,"Life expectancy at birth, total (years)",Health Expenditure and Financing (per capita) (OECDstat (2017)),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1960,32.445999,NaN,8996967.0,NaN
2,Afghanistan,AFG,1961,32.962002,NaN,9169406.0,NaN
3,Afghanistan,AFG,1962,33.471001,NaN,9351442.0,NaN
4,Afghanistan,AFG,1963,33.971001,NaN,9543200.0,NaN

In [36]:
life_expect_vs_hc_expend_df2 = life_expect_vs_hc_expend_df.drop(columns="Continent")
life_expect_vs_hc_expend_df3 = life_expect_vs_hc_expend_df2.dropna(how="any")
life_expect_vs_hc_expend_df4 = life_expect_vs_hc_expend_df3[life_expect_vs_hc_expend_df3['Life expectancy at birth, total (years)'].notna()]
life_expect_vs_hc_expend_df5 = life_expect_vs_hc_expend_df3.rename({"Year":"Year_2"}, axis='columns')

#cleaned dataframe
life_expect_vs_hc_expend_df5.columns

Index(['Entity', 'Code', 'Year_2', 'Life expectancy at birth, total (years)',
       'Health Expenditure and Financing (per capita) (OECDstat (2017))',
       'Population (historical estimates)'],
      dtype='object')

In [32]:
total_hc_expend_gdp_df2 = total_hc_expend_gdp_df.rename({"Year":"Year_3"}, axis='columns')

#cleaned dataframe
total_hc_expend_gdp_df2.columns

Index(['Entity', 'Code', 'Year_3',
       'Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)'],
      dtype='object')

In [9]:
#cleaned dataframe
total_hc_expend_gdp_df.count()

Entity                                                                                          3974
Code                                                                                            3774
Year                                                                                            3974
Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)    3974
dtype: int64

In [11]:
# merged_df = pd.concat([hc_expend_vs_gdp_df3, hc_protection_cov_df2, life_expect_vs_hc_expend_df3, total_hc_expend_gdp_df]).drop_duplicates()
 
# merged_df

# ##https://www.geeksforgeeks.org/concatenate-pandas-dataframes-without-duplicates/

,Entity,Code,Year,"Current health expenditure per capita, PPP (current international $)","GDP per capita, PPP (current international $)",Population (historical estimates),Share of population covered by health insurance (ILO (2014)),"Life expectancy at birth, total (years)",Health Expenditure and Financing (per capita) (OECDstat (2017)),Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)
1,Afghanistan,AFG,2002.0,81.271034,877.014282,22600774.0,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,2003.0,82.457848,927.857544,23680871.0,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,2004.0,89.470055,925.441406,24726689.0,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,2005.0,100.706985,1023.051758,25654274.0,NaN,NaN,NaN,NaN
5,Afghanistan,AFG,2006.0,113.754105,1077.761597,26433058.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3969,Zimbabwe,ZWE,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,7.45
3970,Zimbabwe,ZWE,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,7.68
3971,Zimbabwe,ZWE,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,7.47
3972,Zimbabwe,ZWE,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,8.68
3973,Zimbabwe,ZWE,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,7.70

In [33]:
hc_expend_vs_gdp_df4.to_csv("hc_expend_vs_gdp_df4.csv",encoding='utf-8')
hc_protection_cov_df2.to_csv("hc_protection_cov_df2.csv",encoding='utf-8')
life_expect_vs_hc_expend_df5.to_csv("life_expect_vs_hc_expend_df5.csv",encoding='utf-8')
total_hc_expend_gdp_df2.to_csv("total_hc_expend_gdp_df2.csv",encoding='utf-8')

In [37]:
life_expect_vs_hc_expend_df5.to_csv("life_expect_vs_hc_expend_df5.csv",encoding='utf-8')